<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    
    # Redirige todas las solicitudes al front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
    
    # Previene acceso directo a archivos sensibles
    RewriteRule ^\.env$ - [F,L,NC]
    RewriteRule ^composer\.(json|lock)$ - [F,L,NC]
</IfModule>